PORT=5002
MONGO_URI=mongodb://localhost:27017/courseplatform
JWT_SECRET=your_super_secret_jwt_key_here_change_in_production
JWT_EXPIRE=7d
NODE_ENV=development

# Email config (Nodemailer / Gmail)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password

# Frontend URL (for CORS)
CLIENT_URL=http://localhost:5173

# File upload limits
MAX_FILE_SIZE=100000000
RAZORPAY_KEY_ID=rzp_test_SWaIbogyTFuXZ6
RAZORPAY_KEY_SECRET=Sl66nMANlTw8eiqJ1mgLa7i8